<template name="tabbar">
    <nav class="mui-bar mui-bar-tab icon_lists" style="">
        <a class="mui-tab-item" id="nav1">
            <span class="mui-icon mui-icon-home" id="navSpanIcon1"></span>
            <span class="mui-tab-label tabbar-select" id="navspan1">统计</span>
        </a>
        <a class="mui-tab-item" id="nav2">
            <span class="mui-icon mui-icon-chat" id="navSpanIcon2"></span>
            <span class="mui-tab-label" id="navspan2">商铺对比</span>
        </a>
        <a class="mui-tab-item" id="nav3">
            <span class="mui-icon mui-icon-person" id="navSpanIcon3"></span>
            <span class="mui-tab-label" id="navspan3">我的资料</span>
        </a>
        <a class="mui-tab-item" id="nav4">
            <span class="mui-icon mui-icon-gear" id="navSpanIcon4"></span>
            <span class="mui-tab-label" id="navspan4">个人中心</span>
        </a>
    </nav>
</template>
